<div class="weather-block">
  <div>Humidity {{ open_weather_map_detail.humidity }} </div>
  <div>Max Temp {{ open_weather_map_detail.temp_max }} </div>
  <div>Min Temp {{ open_weather_map_detail.temp_min }} </div>
  <div>pressure {{ open_weather_map_detail.pressure }} </div>
  <div>wind speed {{ open_weather_map_detail.wind_speed }}</div>
</div>
